/* NAVBAR START */
nav img{
    cursor: pointer;
}
.nav_elem{
    text-decoration: none;
    display:inline-block;
    padding: 5px;
    font-size: large;
}
nav{
    display: flex;
    justify-content: space-around;
    position: sticky;
}
nav ul{
    /* align-self: flex-end; */
    margin-right: 50px;
}
nav img{
    width:8%;
    height: 8%;
    /* align-self: flex-start; */
    margin-left: 50px;
}
li a:link{
    text-decoration: none;
    color: #747474;
}
li a:visited{
  text-decoration: none;
  color: #747474;
}
li a:hover{
    text-decoration: none;
    color: #fa0404;
}
nav ul{
    list-style-type: none;
}
.nav_elem .active{
    text-decoration: none;
    color: #fa0404;
}
/* NAVBAR FINISH */
.title{
    display: flex;
    justify-content: center;
    color: rgb(32, 180, 218);
    border-style: groove none;
    border-color: rgb(0, 0, 0);
    padding: 10px;
}
.col-1{
    width: 28%;
  margin-left: 280px;
  font-size: 20px;
  }
  .col-2{
    width: 28%;
  margin-left: 70px;
  font-size: 20px;
  }
  .para{
    display: flex;
    flex-direction: row;
    margin-bottom:5em;
  }
  .items{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      margin:20px;
      row-gap: 20px;
      column-gap: 5px;
  }
  .plus{
      width: 50px;
      height:50px;
  }
  .unit{
      display: flex;
      flex-direction: column;
  }
 .shadow :hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 4px;
  cursor: pointer;
  }
  .big_one{
      width: 236px;
  }
  .last_effect:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 4px;
  cursor: pointer;
}
.last_effect img{
  border-radius: 4px;
}
.last_effect{
    width: 236px;
    margin-left: 90px;
}
.icons{
    display: flex;
    justify-content: space-between;
}
.arrange{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 280px;
}
.contact{
    width: 100px;
    height:100px;
}
#heart,#heartt,#hearttt,#heartttt,#hearttttt,#heartttttt{
    color: rgb(226, 225, 225);
    font-size: 50px;
  }
  
  #heart.red,#heartt.red,#hearttt.red, #heartttt.red,#hearttttt.red ,#heartttttt.red  {
    color: black;
  }
  /* #heartt.red {
    color: black;
  }
  #hearttt.red {
    color: black;
  }
  #heartttt.red {
    color: black;
  }
  #hearttttt.red {
    color: black;
  }
  #heartttttt.red {
    color: black;
  } */
/* #heartt {
    color: grey;  
    font-size: 50px;
  }
  
  #heartt.red {
    color: red;
  } */
  .tag {
    display: inline-block;
    
    width: auto;
    height: 38px;
    
    background-color: #979797;
    -webkit-border-radius: 3px 4px 4px 3px;
    -moz-border-radius: 3px 4px 4px 3px;
    border-radius: 3px 4px 4px 3px;
    
    border-left: 1px solid #979797;
  
    /* This makes room for the triangle */
    margin-left: 19px;
    
    position: relative;
    
    color: white;
    font-weight: 300;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    line-height: 38px;
  
    padding: 0 10px 0 10px;
  }
  
  /* Makes the triangle */
  .tag:before {
    content: "";
    position: absolute;
    display: block;
    left: -19px;
    width: 0;
    height: 0;
    border-top: 19px solid transparent;
    border-bottom: 19px solid transparent;
    border-right: 19px solid #979797;
  }
  
  /* Makes the circle */
  .tag:after {
    content: "";
    background-color: white;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    display: block;
    position: absolute;
    left: -9px;
    top: 17px;
  }
  #num,#numm,#nummm,#nummmm,#nummmmm,#nummmmmm{
    display: none;
  }
 